body {
    font-family: 'Bangers', cursive; /* Nova fonte aqui */
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    color: #000000;
    font-size: 22px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 320px;
    height: 480px;
    padding: 20px;
    border-radius: 15px;
    background: #fdff6c;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    cursor: grab;
    box-sizing: border-box; 
    text-align: center;
}

h1 {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
    line-height: 1.6em;
}

@media (min-width: 768px) {
    .card {
        width: 480px;
        height: 720px;
        font-size: 1.5em;
    }
}

#floatingBtns {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
}

.floating-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 10px 0;
    color: #121212;
    background-color: #fdff6c;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1.5em;
}

.floating-btn:hover {
    background-color: #f4f99b;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.fas.fa-trash {
    font-size: 1em;
    cursor: pointer;
    color: red; /* Opcional: torna o ícone vermelho */
}

.cardTitle .delete {
    margin-right: 1.5em;
}

#addModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

#addModal .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

#addModal .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

#addModal .close:hover,
#addModal .close:focus {
    color: black;
    text-decoration: none;
}

#addModal h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

#addModal .form-group {
    margin-bottom: 20px;
}

#addModal label {
    font-weight: bold;
}

#addModal input[type="text"],
#addModal textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

#addModal #saveCard {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #fdff6c;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    color: #000;
    cursor: pointer;
    transition: background-color 0.3s;
}

#addModal #saveCard:hover {
    background-color: #f4f99b;
}

#addModal input[type="text"],
#addModal textarea {
    width: 100%;
    max-width: 400px; /* Defina a largura máxima desejada */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

#addModal .form-group {
    margin-bottom: 20px;
    position: relative;
}

#addModal .form-group label {
    font-weight: bold;
    display: block;
}

#addModal .form-group input[type="text"],
#addModal .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

#addModal .form-group textarea {
    height: 100px; /* Defina a altura desejada */
}

#addModal .form-group input[type="text"] {
    margin-top: 5px; /* Adicione um espaçamento superior */
}

#addModal #saveCard {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #fdff6c;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    color: #000;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px; /* Adicione um espaçamento superior */
}